.data-card-container {
  border-radius: 15px;
  padding: 2rem;
  border: 2px solid rgba(2, 45, 91, 0.33);
  width: fit-content;
}

.data-card-header {
  font-weight: bolder;
  font-size: 40px;
  color: #022d5b;
}

.data-card-sub-header{
    font-weight: bolder;
    font-size: 20px;
    color: #022d5b;
}
